@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}


img {
    width: 500px;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
}

input {
    width: 372px;
    height: 74px;
    border-radius: 14px;
    border: 1px;
    border-color: white;
    opacity: 25%;
    font-size: 32px;
    color: rgb(7, 6, 6);
    display: block;
    margin: 15px auto;
}

input::placeholder {
    color: rgb(63, 62, 62);
    font-size: 23px;
    padding-left: 20px;
}

button {
    background-color: #AEC346;
    width: 372px;
    height: 74px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    img {
        width: 300px;
    }

    h1 {
        font-size: 25px;
    }

    input {
        width: 300px;
        height: 60px;
        font-size: 25px;
    }

    button {
        width: 300px;
        height: 60px;
        font-size: 25px;
    }
    
}