@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


img {
    width: 500px;
    margin-left: 133.48px;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
}

input {
    width: 372px;
    height: 74px;
    border-radius: 14px;
    border: 1px;
    border-color: white;
    opacity: 25%;
    font-size: 32px;
    color: rgb(7, 6, 6);
}

.input-max {
    margin-left: 20px;
}

input::placeholder {
    color: rgb(63, 62, 62);
    font-size: 23px;
    padding-left: 20px;
}

button {
    margin-top: 40px;
    background-color: #AEC346;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-left: 28%;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}